/*  font family */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font-bold {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.quicksand-font-medium {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.quicksand-font-semibold {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
   
}

/* nav bar style */
.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px 20px;
   margin:0 auto ;
}
.img-p{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-links{
    display:flex;
    gap: 20px;
    
    
}
.nav-links ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}
#About-color{
    color: #FEA301;
}
#Admision-color{
    color: red;
}
#Faci-color{
    color: green;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
   
  text-decoration: none;
   
}


.btn-primary{
    background-color: #FEA301;
    color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .btn-primary:hover{
    background-color: #f1356d;
  }

  /* nav bar responsibility */

  /* responsible for mobile device */
  
  @media screen and (max-width: 576px){
   .nav-links{
       display: none;
   }
   .school{
       display: none;
   }
   .btn-primary{
       display: none;
   }
   .navbar{
       display: flex;
       justify-content: space-between;
       
   }
  }

  /* responsible for desktop and laptops */
  @media screen and (min-width: 577px) and (max-width:1400px){
   .icon{
       display: none;
   }
  }


  /* Banner style */
    .banner{
        display: flex;
        justify-content: space-between;
        /* max-width:100% ; */
        margin:8% auto;
        padding: 25px;
        align-items: center;
        width: 90%;
        height: 90%;
        background-color: #f8f8f8;
        text-align: left;
        
    }
    .banner  img{
        width: 100%;
        height: 100%;
        margin-bottom: 0 auto;

    }
    .headline{
        width: 50%;
        margin: left ;
        padding: 20px;
        
    }
    .pera{
       padding: 20px;
         font-size: 1.2rem;
    }
    #btn2{
        background-color: black;
    }
    #btn2:hover{
        background-color: #f1356d;
    }

    /* Banner responsibility for mobile device */
    @media screen and (max-width:576px)
    {
         .banner{
            display: flex;
            flex-direction: column-reverse;
         }
         .box2 img{
             width: 95%;
             height: 95%;
            }
            .headline{
                width: 100%;
                text-align: center;
            }   
            .pera{
                text-align: center;
            }
            #btn2{
                display: block;
                margin: 0 auto;
            }
    }

    /* standard curriculum section */


  .big-conainer{
    background-image: url(../assets/light-BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px;
    
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
 }
    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 25px;
        margin-top: 0 auto;
        gap: 20px;
       
    }
    .margi{
        margin-bottom: 10px;
    }

    .item-1, .item-2, .item-3{
        padding: 20px;
        margin: 0 auto;
        width: 350px;
        height: 420px;
        border-radius: 10px;
        
       
    }
    .item-1{
        
            background-image: linear-gradient(#DEF5FF, #FFFFFF);
          
    }
    .item-2{
        background-image: linear-gradient(#FFF4DC, #FFFFFF);
    }
    .item-3{
        background-image: linear-gradient(#EEE1FF, #FFFFFF);
    }
  
  
  
    .btn-secondary{
            
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width:102px;
        height:50px;
        margin-top: 10px;
    }
    .btn-secondary:hover{
        background-color: #f1356d;
    }
    #btn-002{
        color: #f1356d;
    }
    #btn-003{
        color: green;
    }

    /* responsible for mobile device */
    @media screen and (max-width: 576px){
        .container{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .item-1, .item-2, .item-3{
            width: 100%;
            height: 100%;
        }
    }


